@import "common.scss";
#header{
    background: $bg_color;
    margin-left: auto;
    margin-right: auto;
    padding: $rounded_corners_pad;
    border: none;
    font-size: $font-size;
    div{
        &:first-child{
            padding: $rounded_corners_pad;
        }
    }
}

#title{
    font-size: 50px;
}


