<!DOCTYPE html>
<!--@author jakubvacek-->
<div id="containerDefaultFont" class="uk-width-3-10">
    <div class="uk-text-center">
        <form class="uk-form">
            <fieldset>
                <legend> Create new user</legend>
                <div class="uk-form-row">
                    <input required="" type="text" ng-model='$ctrl.nameCreateUser' id="input" placeholder="name" autofocus>
                </div>
                <div class="uk-form-row">
                    <input required="" type="text" ng-model="$ctrl.passCreateUser" id="input"  placeholder="password" onfocus="(this.type = 'password')"/>
                </div>
                <div class="uk-form-row">
                    <input required="" type="text" ng-model="$ctrl.descriptionCreateUser" id="input"  placeholder="description" />
                </div>
                <div class="uk-form-row">
                    <div id="select" class="uk-button uk-form-select" data-uk-form-select >
                        <span></span>
                        <select id="selectCreateUser">
                            <option value="USER">Standard user</option>
                            <option value="ADMIN">Admin</option>
                        </select>
                    </div>
                </div>
                <div id="strikeout" style="margin-top: 30px;"></div>
                <div class="uk-flex uk-flex-row uk-flex-space-around" id="formButtons" >
                    <a id="iconRed" ui-sref="users" data-uk-tooltip="{pos:'bottom-right'}" title="<spam id='tooltip'>Cancel</spam>" class="uk-icon-justify uk-icon-medium uk-icon-remove" ></a>
                    <a id="iconGreen" data-uk-tooltip="{pos:'bottom-right'}" title ="<spam id='tooltip'>Create user</spam>" ng-click="$ctrl.createUser()" class="uk-icon-justify uk-icon-medium uk-icon-check" ></a>
                </div>
            </fieldset>
        </form>
    </div>
</div>